{#
 * @copyright 2026 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array  reports   result rows
 * @param array  search    search parameters
 * @param string sort      Current sorting
 * @param int    total
 * @param int    itemsPerPage
 * @param int    currentPage
 * @param int    credits       WAVE credits remaining
 * @param array  departments   Drop down list of departments
 * @param array  yesno         Yes/No options for errors
 * @param array  sorts         Sorting options
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}
{% import  "html/macros/forms.twig"      as forms      %}
{% block content %}
<section>
    <header><h1>Reports</h1></header>
    <p>These are the latest results from automated scans of the city website.</p>

    <form class="usa-form">
        <fieldset class="usa-fieldset">
            <legend class="usa-legend">Search parameters</legend>
            {{ forms.field_text  ('path',       'path',       'Path',       search.path   ?? '' ) }}
            {{ forms.field_text  ('username',   'username',   'Last Edited By Username',   search.username   ?? '' ) }}
            {{ forms.field_select('department', 'department', 'Last Edited By Department', search.department ?? '', departments, false, { onchange:'this.form.submit();' } ) }}
            {{ forms.field_select('errors',     'errors',     'Has Errors', search.errors ?? '', yesno,       false, { onchange:'this.form.submit();' } ) }}

            {{ forms.field_select('sort', 'sort', 'Sort', sort, sorts, false, { onchange:'this.form.submit();' } ) }}

            {{ forms.button('submit', 'Search', 'search') }}
            <a class="usa-button" href="{{ BASE_URL }}">Reset</a>
        </fieldset>
    </form>

    <table class="usa-table usa-table--compact">
    <thead>
        <tr><th>Page</th>
            <th>Errors</th>
            <th>Contrast</th>
            <th>PDF Problems</th>
            <th>User</th>
            <th>Department</th>
            <th>Scanned</th>
            <th>Views (2025)</th>
        </tr>
    </thead>
    <tbody>
        {% for r in reports %}
        <tr><td><a href="{{ DRUPAL_SITE }}{{ r.path }}">{{ r.path }}</a></td>
            <td>{{ r.error    ? r.error    : '' }}</td>
            <td>{{ r.contrast ? r.contrast : '' }}</td>
            <td>{% if r.pdf %}
                <a href="{{ uri('home.info', { id:r.id }) }}">{{ r.pdf }}</a>
                {% endif %}
            </td>
            <td>{{ r.username   }}</td>
            <td>{{ r.department }}</td>
            <td>{{ r.created | date('n/j/Y') }}</td>
            <td>{{ r.views }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    {% if total > itemsPerPage %}
        {% set params = search|merge({'sort':sort}) %}
        {{ pagination.pageLinks(REQUEST.uri.path, params, total, itemsPerPage, currentPage) }}
    {% endif %}
</section>
{% endblock %}
